name: torchmd-net
channels:
  - conda-forge
dependencies:
  - h5py
  - matplotlib-base
  - nnpops
  - pip
  - pytorch<2.2
  - pytorch_geometric<2.5
  - lightning<2.2
  - pydantic
  - torchmetrics
  - tqdm
  # Dev tools
  - flake8
  - pytest
  - psutil
  - gxx<12
