name: torchmd-net
channels:
  - conda-forge
dependencies:
  - h5py
  - matplotlib-base
  - nnpops==0.5
  - pip
  - pytorch==2.0.*
  - pytorch_geometric==2.3.1
  - lightning==2.0.8
  - pydantic<2
  - torchmetrics==0.11.4
  - tqdm
  # Dev tools
  - flake8
  - pytest
  - psutil
  - gxx
