name: Whole

on: [push]

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  publish:
    if: startsWith(github.event.ref, 'refs/tags/v')
    needs: test
    uses: ./.github/workflows/publish.yml
    secrets: inherit

  docs:
    if: startsWith(github.event.ref, 'refs/tags/')
    needs: publish
    uses: ./.github/workflows/docs.yml
    secrets: inherit

  docs_update:
    if: startsWith(github.event.ref, 'refs/tags/d')
    uses: ./.github/workflows/docs.yml
    secrets: inherit
